section {
max-width: 300px;
}
body {
    background-image: url(https://files.catbox.moe/3q45ds.jpg);
}
header {
    background-color: rgb(136, 213, 216);
}
nav {
    background-color: rgb(133, 147, 150);
}
aside {
    float: right;
}
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #89d9db;
    border-radius: 8px;
    border: 2px solid #48848b;
    text-align: center;
    transition: 0.3s;
}
.button:hover {
    background-color: #61a2a3;
    cursor: pointer;
}

a {
    margin: auto;
}